<div class="card">
    <div class="card-body">
        <form (submit)="addTask(newTitle, newDescription)">
            <div class="form-group mb-3">
                <input type="text" class="form-control" placeholder="Titulo de Tarea"
                #newTitle>
            </div>
            <div class="form-group mb-3">
                <textarea name="" id="" cols="30" rows="10"
                placeholder="Descripcion" class="form-control" #newDescription></textarea>
            </div>
            <div class="d-grid gap-2">
                <button class="btn btn-primary btn-block">
                    Enviar
                </button>
            </div>
        </form>
    </div>
</div>